---
import {getCollection} from "astro:content";
import SongCard from "./SongCard.astro";
import Modal from "./Modal.astro";

const songs = await getCollection("songs");

const years: number[] = [
  ...new Set<number>(
    songs.map((song: any) => {
      const {data} = song;
      const {date} = data;
      const dateObject = new Date(date);
      const dateUTCminus3 = new Date(dateObject.getTime() - 3 * 60 * 60 * 1000);

      return dateUTCminus3.getFullYear();
    })
  ),
].sort((a, b) => a - b);
---

<article
  class="relative bg-custom-pos-x md:bg-center bg-[url('/duki-mirando-horizonte.webp')] bg-cover h-svh flex flex-col items-center justify-start z-20 pt-14 gap-10 md:gap-24"
>
  <h2 class="text-2xl md:text-5xl font-semibold text-center">
    Todos los temas en los que ha participado
  </h2>

  <div class="flex flex-col items-center gap-5">
    <div class="px-4 flex justify-center">
      <div
        class="md:max-w-[60svw] flex flex-row flex-wrap gap-3 md:gap-5 justify-center border-2 border-ameri-100 mb-3 rounded-lg"
      >
        {
          years.map((year, i) => {
            return (
              <a
                href={`#${year}`}
                id={`${year}`}
                class={`bg-transparent text-base md:text-xl text-teal-500 py-1 px-2 rounded-lg pointer-events-none`}
              >
                {year}
              </a>
            );
          })
        }
      </div>
    </div>
    <div class="max-h-[60svh] overflow-y-scroll">
      <Modal />

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        {
          songs
            .sort(
              (a: any, b: any) =>
                new Date(a.data.date).getTime() -
                new Date(b.data.date).getTime()
            )
            .map((song: any) => {
              const {data} = song;
              const {url, shortTitle, singers, date, thumbnails} = data;
              const {high, medium} = thumbnails;
              const dateObject = new Date(date);
              const dateUTCminus3 = new Date(
                dateObject.getTime() - 3 * 60 * 60 * 1000
              ).getFullYear();
              const imgUrl = high?.url;

              return imgUrl !==
                "https://i.ytimg.com/vi/1pmwjJ1h02Q/hqdefault.jpg" ? (
                <SongCard
                  dateUTCminus3={dateUTCminus3}
                  imgUrl={imgUrl}
                  shortTitle={shortTitle}
                  url={url}
                  singers={singers}
                />
              ) : null;
            })
        }
      </div>
    </div>
  </div>
</article>
